:root {
    --rose: #AE7C78;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*HEADER*/
header {
    width: 100%;
    border-top: 1px solid var(--rose);
    border-bottom: 1px solid var(--rose);
    margin-top: 26px;
    margin-bottom: 80px;
}
.header__nav {
    position: relative;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header__menu-item {
    list-style: none;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--rose);
    margin-top: 16px;
    margin-bottom: 16.8px;
}

.header__menu-item:nth-child(3) {
    margin-right: 62px;
}

.header__menu-item:nth-child(4) {
    margin-left: 62px;
}

.header__nav-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*PROMO*/
.promo {
    margin-bottom: 80px;
}

.promo__main {
    display: flex;
    margin-bottom: 48px;
}

.promo__wrapper {
    display: flex;
    flex-direction: column;
    width: 384px;
    margin-right: 23px;

}

.promo__header {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    color: var(--rose);
    margin: 0;
    margin-bottom: 24px;
}

.promo__header span {
    font-style: italic;
}

.promo__subheader {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: var(--rose);
    margin-bottom: 64px;
}

.promo__btn {
    display: flex;

    width: 285px;
    height: 80px;
    background: #D89999;
    border-radius: 40px;
    padding: 10px;


}

.promo__btn span {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: auto;
}

.promo__img-1 {
    margin-top: 59px;
}

.promo__img-2 {
    margin-top: 1px;
    margin-left: 20px;
}

.promo__adv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;

}

.promo__adv_item {
    display: flex;
    
}

.promo__adv_item:nth-child(1) {
    margin-right: 58px;
}

.promo__adv_item:nth-child(2) {
    margin-right: 43px;
}

.promo__adv_text {
    width: 285px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--rose);
    margin-left: 20px;

}

.promo__adv_header {
    font-weight: 500;
    margin-bottom: 8px;
}



/*POPULAR*/

.popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}

.popular__header {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: var(--rose);
    text-align: center;

}

.popular__card-wrapper {
    width: 387px;
    margin-right: 20px;

}

.popular__card-header {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--rose);
    margin-top: 27px;
}

.popular__card-descr,
.popular__card-size {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--rose);
}

.popular__card-descr {
    margin-top: 20px;
}

.popular__card-size,
.popular__card-price {
    margin-top: 24px;
}

.popular__card-price {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--rose);

}

.popular__card-btn {
    width: 285px;
    height: 80px;
    background: #D89999;
    border-radius: 40px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 64px;
    border: none;
    padding: 10px;

}

.popular__card {
    display: flex;
    margin-top: 36px;
}

.popular__card-arrows {
    margin-top: 24px;
    display: flex;
    
    
}

.popular__arr-left, 
.popular__arr-right {
    border: none;
    outline: none;
    background-color: #FFFFFF;
    cursor: pointer;
}
.popular__arr-left {
    margin-right: 10px;
}
.popular__arr-right {
    margin-left: 10px;
}



/*CATALOGUE*/

.catalogue {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 19px;
    margin-bottom: 80px;
}

.catalogue__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 387px;
    min-height: 442px;
    background-image: linear-gradient(rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)), url('../img/wedding.jpeg');
    background-size: cover;
    border-radius: 10px;
}

.catalogue__card a {
    text-decoration: none;
}

.catalogue__card-header {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.catalogue__card-descr {
    margin-top: 8px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
}

/*DISCOUNT*/

.discount {
    background: var(--rose);
    display: flex;
    justify-content: space-between;

    margin-bottom: 80px;
}

.discount__text {
    margin-left: 102px;
    margin-right: 20px;
}

.discount__header {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 40px;
    width: 488px;
}

.discount__descr {
    width: 387px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 24px;
}

/*FEATURE*/

.feature {
    margin-bottom: 80px;
}

.feature__header {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: var(--rose);
    text-align: center;
}

.feature__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 285px);
    gap: 20px;
    margin-top: 36px;
}

.feature__item-header {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--rose);
    text-align: center;
    margin-top: 8px;

}

.feature__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
} 


.feature__item-descr {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--rose);
    margin-top: 8px;
}


/*NEWS*/

.news {

    display: flex;
    margin-bottom: 80px;
}

.news__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news__header {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: var(--rose);
}

.news__descr {
    margin-top: 40px;
    width: 387px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: var(--rose);
}

.news__social {
    margin-top: 40px;
    display: flex;
    width: 96.76px;
    list-style: none;
}

.news__social li {
    margin-right: 20px;
}
.news__social li:last-child {
    margin-right: 0;
}

.news__images {
    width: 692px;
    display: grid;
    grid-template-columns: 285px 387px;
    column-gap: 20px;
    ;
    grid-template-rows: 220px 220px;
    row-gap: 20px;
}


/*REVIEWS*/

.reviews {
    margin-bottom: 80px;
    border: 1px solid var(--rose);
    padding: 40px 44px 64px 44px;

}

.reviews__header {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--rose);
}

.reviews__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 106px;

}

.reviews__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews__text p {
    width: 300px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--rose);
    margin-top: 40px;
}

.reviews__name {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--rose);
    text-align: center;
    margin-top: 16px;
}

/*CONTACTS*/

.contacts {

    position: relative;
    margin-bottom: 0;
    min-height: 645px;
}

.contacts__map {
    position: absolute;
    width: 100%;
    z-index: -1;
}
.contacts .container {
    padding-top: 52px;
}
.contacts__card {
    width: 386px;
    min-height: 520px;
    background: #F7FAFC;
    box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
    border-radius: 12px;
    padding: 40px 20px 20px 52px;
}

.contacts__header {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #AE7C78;
    margin-bottom: 42.06px;

}

.contacts__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.contacts__text a {
    text-decoration: none;
}

.contacts__item-400,
.contacts__item-500 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    width: 243px;
    color: var(--rose);
}

.contacts__item-500 {
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 30px;
}

/*FOOTER*/

.footer {
    background-color: var(--rose);
    width: 100%;
    height: 97px;
    margin-top: 0;
    padding-top: 24px;

}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu {
    list-style: none;
    display: flex;
    justify-content: space-between;

    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.footer__menu li {
    margin-right: 68px;
}

.footer__menu li:last-child {
    margin-right: 0;
}

.footer__social {
    list-style: none;
    display: flex;
    width: 97px;
}
.footer__social li {
    margin-right: 20px;
}

.footer__social li:last-child {
    margin-right: 0;
}