body {
    background-color: #ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

.section_header {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #AE7C78;
}
.header__nav {
    list-style: none;
}
.promo__header {
    font-family: Playfair Display;
    font-size: 44px;
    line-height: 59px;
}

.promo__header span {
    font-style: italic;
}

.promo__subheader,
.news__descr {
    font-size: 24px;
    line-height: 29px;
    font-weight: normal;
}

.promo__btn,
.popular__slide-btn {
    background-color: #AE7C78;
    color: #FFFFFF;
}

.promo__adv_header {
    font-weight: 500;
}

.popular__slide-header,
.popular__slide-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.catalogue__card {
    background-color: rgba(174, 124, 120, 0.6);
    /*temporary*/
}

.catalogue__card a {
    text-decoration: none;
}

.catalogue__card-header {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.catalogue__card-descr {
    color: #FFFFFF;
}

.discount {
    background-color: #AE7C78;
}

.discount__header {
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
    color: #FFFFFF
}

.discount__descr {
    /*font-weight: normal;*/
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.feature__item-header {
    font-weight: 500;
    font-size: 16px;
}

.feature__item {
    list-style: none;
}
.news__social li {
    list-style: none;
}
.reviews__name {
    font-weight: 500;
    font-style: normal;
}
.map__card-400 {
    font-size: 16px;
    font-weight: 400;
    
}
.map__card-text a {
    text-decoration: none;
    color:#AE7C78;
}
.map__card-500 {
    font-weight: 500;
}

.map__card-text {
    list-style: none;
}

.footer {
    color: #FFFFFF;
    background-color: #AE7C78;
}
.footer__nav li {
    list-style: none;
}

.footer__social li {
    list-style: none;
}